/* || Tailwind Imports */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #444;
  @apply bg-red-200;
}

.error {
  color: #e63338;
}

.success {
   color: #00e05b;
}

input[type=submit] {
  color: #fff;
  background-color: #1e29f5;
}